/*
 * layout constants
 */
// default
$layoutHeightDefault: 599px;

// topbar
$layoutTopbarHeight: 55px;
$layoutBreadcrumbHeight: 50px;

// menu
$layoutMenuAreaWidth: 130px;
$layoutMenuAreaHeight: 100%;

/*
 * font constants
 */
$fontSizeSmall: 10pt;
$fontSizeNormal: 12pt;
$fontSizeMedium: 14pt;
$fontSizeBig: 16pt;

/*
 * color | background color - config
 */
 $colorTextDefault: #adadad;
 $backgroundColorBreadcrumb: #FAFAFA;

 /*
 * font color constants
  */
$colorGreyLighter: #F5F5F5;
$colorGreyLight: #E0E0E0;
$colorGrey: #9E9E9E;
$colorGreyDark: #616161;

$colorPurpleLight: #967adc;
$colorPurple: #8362d6;

$colorGreenStelo: #00cd9d;