/*
 * layout constants
 */
// default
$layoutHeightDefault: 599px;

// topbar
$layoutTopbarHeight: 60px;

// menu
$layoutMenuAreaWidth: 130px;
$layoutMenuAreaHeight: 100%;

/*
 * font constants
 */
$fontSizeSmall: 10px;
$fontSizeNormal: 12px;
$fontSizeMedium: 14px;
$fontSizeBig: 16px;

/*
 * font constants
 */
$colorGreyLighter: #F5F5F5;
$colorGreyLight: #E0E0E0;
$colorGrey: #9E9E9E;
$colorGreyDark: #616161;
