@import './_constants.scss';

.document-detail-main {
  color: $colorGrey;

  .button-white {
    background-color: #fff;
    color: $colorGrey;
    border-color: $colorGreyLight;
    width: 100%;
    font-size: $fontSizeNormal;
  }

  .document-detail-button-toggle {
    color: $colorGrey;
    font-weight: bold;
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $colorGreyLight;
  margin: 40px 0;
}