@import './constants/_constants.scss';

.salesman-search-main {
  .salesman-select {
    font-size: $fontSizeSmall;

    &.not-null {
      background-color: $colorPurpleLight;
      color: #fff;
    }
  }

  .salesman-input-search {
    font-size: $fontSizeSmall;
  }
}